# FPL Squad Optimizer

This Jupyter Notebook uses a knapsack algorithm to create an Fantasy Premier League squad of 15 players optimized around a specified metric (goals, clean sheets, points etc.)

## Import Libraries

In [1]:
# Standard libraries
import requests
import pandas as pd
import numpy as np
import copy
import sys

# libraries for postgres connection
import psycopg2
from sqlalchemy import create_engine
import pandas.io.sql as sqlio

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# for env variables
import os
from dotenv import load_dotenv, get_key
load_dotenv()

# save env variables
SUPABASE_USER = get_key('.env', 'SUPABASE_USER')
SUPABASE_HOST = get_key('.env', 'SUPABASE_HOST')
SUPABASE_PASSWORD = get_key('.env', 'SUPABASE_PASSWORD')
SUPABASE_PORT = get_key('.env', 'SUPABASE_PORT')
SUPABASE_DB = get_key('.env', 'SUPABASE_DB')

# interactive shell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Fetch data from the FPL API and clean it

In [2]:
# FPL API for fixtures
url = 'https://fantasy.premierleague.com/api/fixtures/'
response = requests.get(url)
fixtures_json = response.json()

# store in pandas DF
fixtures_df = pd.DataFrame(fixtures_json)

In [3]:
# FPL API URL
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
response = requests.get(url)
json = response.json()

# JSON keys
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [4]:
# storing json outputs as dataframes

elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

In [6]:
# Pulling in player position into slim_elements_df

elements_df['position'] = elements_df.element_type.map(elements_types_df.set_index('id').singular_name)
elements_df['team_name'] = elements_df.team.map(teams_df.set_index('id').name)
elements_df['team_short_name'] = elements_df.team.map(teams_df.set_index('id').short_name)

In [7]:
# Filtering out only the necessary columns

slim_elements_df = elements_df[['id', 'first_name','second_name','web_name','team_name','team_short_name','position','news','selected_by_percent','in_dreamteam',
                                'now_cost','form','points_per_game','minutes','goals_scored','assists','clean_sheets','goals_conceded','yellow_cards','red_cards','saves','bonus',
                                'transfers_in','starts','value_season','total_points','influence','creativity','threat','ict_index']]

# numeric columns:

numeric_cols = ['selected_by_percent','form','points_per_game','value_season','influence','creativity','threat','ict_index']

In [8]:
# convering columns into numeric data type

for col in numeric_cols:
    slim_elements_df[col] = pd.to_numeric(slim_elements_df[col])

In [9]:
def convert_filename(string):
    return string.lower().replace(" ", "_")

# rename the web_name column
slim_elements_df.rename(columns = {'web_name':'name'}, inplace = True)

# actual cost of the player is now_cost/10
slim_elements_df['actual_cost'] = slim_elements_df['now_cost']/10

# creating additional metrics
slim_elements_df['games_completed'] = slim_elements_df['minutes']/90
slim_elements_df['points_per_90_mins'] = slim_elements_df['total_points']/slim_elements_df['games_completed']
slim_elements_df['ga_per_90_mins'] = (slim_elements_df['goals_scored']+slim_elements_df['assists'])/slim_elements_df['games_completed']
slim_elements_df['points_per_million'] = slim_elements_df['total_points']/slim_elements_df['actual_cost']
slim_elements_df['image_path'] = '/' + slim_elements_df['team_name'].apply(convert_filename) + '.svg'

# eligible players
eligible_players = slim_elements_df[slim_elements_df['news'] == '']

# create a dataframe with only differentials: owned by less than 20%
differentials = slim_elements_df.loc[(slim_elements_df['news'] == '') & (slim_elements_df['selected_by_percent'] <= 20)]

In [10]:
# create percentile columns for specific metrics
percentile_metrics = ['bonus', 'form', 'ict_index', 'points_per_game', 'points_per_million', 'total_points', 'goals_scored', 'assists', 'clean_sheets', 'ga_per_90_mins']

for metric in percentile_metrics:
    slim_elements_df[metric + '_percentile'] = slim_elements_df.groupby('position')[metric].rank(pct=True)

slim_elements_df.sort_values(by = 'total_points', ascending = False).head(10)

,id,first_name,second_name,name,team_name,team_short_name,position,news,selected_by_percent,in_dreamteam,...,bonus_percentile,form_percentile,ict_index_percentile,points_per_game_percentile,points_per_million_percentile,total_points_percentile,goals_scored_percentile,assists_percentile,clean_sheets_percentile,ga_per_90_mins_percentile
395,328,Mohamed,Salah,M.Salah,Liverpool,LIV,Midfielder,,49.9,True,...,1.000000,1.000000,1.000000,1.000000,0.980519,1.000000,0.998377,0.996753,0.996753,0.991150
208,182,Cole,Palmer,Palmer,Chelsea,CHE,Midfielder,Knock - 75% chance of playing,53.5,True,...,0.996753,0.951299,0.993506,0.993506,0.961039,0.996753,0.993506,0.993506,0.840909,0.982301
420,351,Erling,Haaland,Haaland,Man City,MCI,Forward,,63.8,True,...,0.986667,0.813333,1.000000,1.000000,0.746667,1.000000,1.000000,0.346667,0.840000,0.913043
113,99,Bryan,Mbeumo,Mbeumo,Brentford,BRE,Midfielder,Knock - 75% chance of playing,43.3,True,...,0.993506,0.993506,0.990260,0.990260,1.000000,0.993506,0.998377,0.762987,0.683442,0.942478
530,447,Chris,Wood,Wood,Nott'm Forest,NFO,Forward,,24.4,True,...,1.000000,0.993333,0.946667,0.973333,0.986667,0.986667,0.986667,0.346667,0.993333,0.739130
13,17,Bukayo,Saka,Saka,Arsenal,ARS,Midfielder,Knock - 75% chance of playing,25.3,True,...,0.990260,0.900974,0.996753,0.987013,0.918831,0.990260,0.954545,1.000000,0.925325,0.977876
168,148,Danny,Welbeck,Welbeck,Brighton,BHA,Forward,,21.2,True,...,0.966667,0.933333,0.960000,0.946667,1.000000,0.973333,0.953333,0.926667,0.946667,0.717391
394,327,Luis,Díaz,Luis Díaz,Liverpool,LIV,Midfielder,,24.1,False,...,0.980519,0.827922,0.944805,0.980519,0.983766,0.987013,0.990260,0.887987,0.996753,0.973451
206,180,Nicolas,Jackson,N.Jackson,Chelsea,CHE,Forward,,16.9,False,...,0.926667,0.866667,0.973333,0.933333,0.893333,0.960000,0.953333,0.986667,0.840000,0.826087
648,541,Matheus,Santos Carneiro Da Cunha,Cunha,Wolves,WOL,Forward,,10.1,False,...,0.966667,0.993333,0.986667,0.920000,0.946667,0.946667,0.913333,0.926667,0.706667,0.673913

## Python functions for the knapsack algorithm

In [11]:
def knapsack_solution(players, player_costs, player_values, max_cost, count):
    
    """
    function that returns the knapsack cost matrix
    """
  
    num_players = len(players)
  
    cost_matrix = [[[0 for k in range(count+1)] for j in range(max_cost+1)] for i in range(num_players)]
    
    for i in range(num_players):
        for j in range(max_cost+1):
            for k in range(count+1):
                if (player_costs[i] > j) or (1 > k):
                    cost_matrix[i][j][k] = cost_matrix[i-1][j][k]
                else: 
                    cost_matrix[i][j][k] = max(cost_matrix[i-1][j][k], player_values[i]+cost_matrix[i-1][j-player_costs[i]][k-1])

    return cost_matrix

In [12]:
def get_used_items(players, player_costs, player_values, max_cost, count, cost_matrix):
    
    """
    function that returns the used players from the cost matrix
    """
    
    playerIndex = len(players) - 1
    
    currentCost = -1
    currentCount = count
    marked = [0 for k in range(len(players))]

    bestValue = -1
    
    for j in range(max_cost+1):
        value = cost_matrix[playerIndex][j][count]
        if (bestValue == -1) or (value > bestValue):
            currentCost = j
            bestValue = value
    
    while (playerIndex >= 0 and currentCost >= 0 and currentCount >= 0):
        if (playerIndex == 0 and cost_matrix[playerIndex][currentCost][currentCount] > 0) or (cost_matrix[playerIndex][currentCost][currentCount] != cost_matrix[playerIndex-1][currentCost][currentCount]):
            marked[playerIndex] = 1
            currentCost = currentCost - player_costs[playerIndex]
            currentCount = currentCount - 1
        playerIndex = playerIndex - 1

    return marked

## Python functions to optimize keepers, defenders, midfielders, forwards

The knapsack algorithm will return an optimal squad of 15 players, but will not ensure that players are distributed into 2 goalkeepers, 5 defenders, 5 midfielders and 3 forwards.

For this, we will follow these steps:
1. Get every combination of 4 numbers adding up to 100 (for the total costs of goalkeepers, defence, midfield, attack)
2. For each of these combinations, run the knapsack algorithm individually for each part of the squad
3. Choose the combination that gets the highest value of the target metric to be optimized

In [23]:
def optimum_keepers(eligible_players, maximum_cost, opt_metric):
    
    max_cost = maximum_cost * 10
    
    gk_df = eligible_players[eligible_players['position'] == 'Goalkeeper']
    gk_df = gk_df.reset_index()
    goalkeepers = gk_df.index.tolist()
    goalkeeper_costs = (gk_df['now_cost']).tolist()
    goalkeeper_values = gk_df[opt_metric].tolist()
    
    cost_matrix = knapsack_solution(goalkeepers, goalkeeper_costs, goalkeeper_values, max_cost, 2)
    
    used_players = get_used_items(goalkeepers, goalkeeper_costs, goalkeeper_values, max_cost, 2, cost_matrix)
    
    player_indices = []
    
    for i in range(len(used_players)):
        if used_players[i] == 1:
            player_indices.append(i)
        
    players = pd.DataFrame()
    
    for index in range(len(player_indices)):
        players = pd.concat([players, gk_df.iloc[[player_indices[index]]]])
        
    final = players[['first_name', 'second_name', 'name', 'team_name', 'team_short_name', 'position', 'selected_by_percent', 'actual_cost', 'total_points', opt_metric]]
    
    return final.loc[:,~final.columns.duplicated()].copy()

In [24]:
def optimum_defence(eligible_players, maximum_cost, opt_metric):
    
    max_cost = maximum_cost * 10
    
    def_df = eligible_players[eligible_players['position'] == 'Defender']
    def_df = def_df.reset_index()
    defenders = def_df.index.tolist()
    defender_costs = (def_df['now_cost']).tolist()
    defender_values = def_df[opt_metric].tolist()
    
    cost_matrix = knapsack_solution(defenders, defender_costs, defender_values, max_cost, 5)
    
    used_players = get_used_items(defenders, defender_costs, defender_values, max_cost, 5, cost_matrix)
    
    player_indices = []
    
    for i in range(len(used_players)):
        if used_players[i] == 1:
            player_indices.append(i)
        
    players = pd.DataFrame()
    
    for index in range(len(player_indices)):
        players = pd.concat([players, def_df.iloc[[player_indices[index]]]])
        
    final = players[['first_name', 'second_name', 'name', 'team_name', 'team_short_name', 'position', 'selected_by_percent', 'actual_cost', 'total_points', opt_metric]]
    
    return final.loc[:,~final.columns.duplicated()].copy()

In [25]:
def optimum_midfield(eligible_players, maximum_cost, opt_metric):
    
    max_cost = maximum_cost * 10
    
    mid_df = eligible_players[eligible_players['position'] == 'Midfielder']
    mid_df = mid_df.reset_index()
    midfielders = mid_df.index.tolist()
    midfielder_costs = (mid_df['now_cost']).tolist()
    midfielder_values = mid_df[opt_metric].tolist()
    
    cost_matrix = knapsack_solution(midfielders, midfielder_costs, midfielder_values, max_cost, 5)
    
    used_players = get_used_items(midfielders, midfielder_costs, midfielder_values, max_cost, 5, cost_matrix)
    
    player_indices = []
    
    for i in range(len(used_players)):
        if used_players[i] == 1:
            player_indices.append(i)
        
    players = pd.DataFrame()
    
    for index in range(len(player_indices)):
        players = pd.concat([players, mid_df.iloc[[player_indices[index]]]])
        
    final = players[['first_name', 'second_name', 'name', 'team_name', 'team_short_name', 'position', 'selected_by_percent', 'actual_cost', 'total_points', opt_metric]]
    
    return final.loc[:,~final.columns.duplicated()].copy()

In [26]:
def optimum_attack(eligible_players, maximum_cost, opt_metric):
    
    max_cost = maximum_cost * 10
    
    att_df = eligible_players[eligible_players['position'] == 'Forward']
    att_df = att_df.reset_index()
    attackers = att_df.index.tolist()
    attacker_costs = (att_df['now_cost']).tolist()
    attacker_values = att_df[opt_metric].tolist()
    
    cost_matrix = knapsack_solution(attackers, attacker_costs, attacker_values, max_cost, 3)
    
    used_players = get_used_items(attackers, attacker_costs, attacker_values, max_cost, 3, cost_matrix)
    
    player_indices = []
    
    for i in range(len(used_players)):
        if used_players[i] == 1:
            player_indices.append(i)
        
    players = pd.DataFrame()
    
    for index in range(len(player_indices)):
        players = pd.concat([players, att_df.iloc[[player_indices[index]]]])
        
    final = players[['first_name', 'second_name', 'name', 'team_name', 'team_short_name', 'position', 'selected_by_percent', 'actual_cost', 'total_points', opt_metric]]
    
    return final.loc[:,~final.columns.duplicated()].copy()

# Cost Breakdowns

The following functions provide all the combination sums that add up to 100.

To avoid longer runtimes for the optimization functions, the costs for each section has a minimum threshold:
1. Keepers: 8 MM
2. Defence: 25 MM
3. Midfield: 30 MM
4. Attack: 20 MM

In [27]:
# Functions to get all the sum combinations

def print_all_sum_rec(target, current_sum, start, output, result):
    if current_sum == target:
        output.append(copy.copy(result))

    for i in range(start, target):
        temp_sum = current_sum + i
        if temp_sum <= target:
            result.append(i)
            print_all_sum_rec(target, temp_sum, i, output, result)
            result.pop()
        else:
            return

def print_all_sum(target):
    output = []
    result = []
    print_all_sum_rec(target, 0, 4, output, result)
    return output

In [28]:
# Function that selects only the combinations with 4 numbers

def cost_breakdown(number):
    breakdown = print_all_sum(number)
    combinations = []
    for i in breakdown:
        if len(i) == 4:
            if (i[0] >= 8) and (i[1] >= 25) and (i[2] >= 30) and (i[3] >= 20):
                combinations.append(i)
    return combinations

In [29]:
# Function that returns the best cost breakdown (keepers - defence - midfield - attack) for the chosen metric

def best_cost_breakdown(opt_metric):
    costs_combinations = cost_breakdown(100)

    comb_df = pd.DataFrame(columns = ['costs', 'total_cost', opt_metric])
    
    for costs in costs_combinations:
        
        gk = optimum_keepers(eligible_players, costs[0], opt_metric)
        dfnc = optimum_defence(eligible_players, costs[1], opt_metric)
        mid = optimum_midfield(eligible_players, costs[2], opt_metric)
        att = optimum_attack(eligible_players, costs[3], opt_metric)
        
        final = pd.concat([gk, dfnc, mid, att])
        total_cost = final['actual_cost'].sum()
        optimized_metric = final[opt_metric].sum()
        cost_details = [costs, total_cost, optimized_metric]
        
        comb_df.loc[len(comb_df)] = cost_details

    comb_df[opt_metric] = pd.to_numeric(comb_df[opt_metric])

    return comb_df.sort_values(by=[opt_metric], ascending=False).reset_index(drop=True).head(1)

## Final Optimization Function

A final function that takes in the metric and returns an optimized squad.

In [30]:
def squad_optimizer(opt_metric, eligible_players):
    
    costs = best_cost_breakdown(opt_metric)['costs'].iloc[0]
    
    keepers = optimum_keepers(eligible_players, costs[0], opt_metric)
    defence = optimum_defence(eligible_players, costs[1], opt_metric)
    midfield = optimum_midfield(eligible_players, costs[2], opt_metric)
    attack = optimum_attack(eligible_players, costs[3], opt_metric)

    final_squad = [keepers, defence, midfield, attack]

    final_squad_df = pd.concat(final_squad).reset_index(drop=True)

    return final_squad_df

In [31]:
squad = squad_optimizer('total_points', eligible_players)

In [32]:
squad

,first_name,second_name,name,team_name,team_short_name,position,selected_by_percent,actual_cost,total_points
0,André,Onana,Onana,Man Utd,MUN,Goalkeeper,8.5,5.1,53
1,Matz,Sels,Sels,Nott'm Forest,NFO,Goalkeeper,7.4,4.7,50
2,Antonee,Robinson,Robinson,Fulham,FUL,Defender,16.3,4.7,40
3,Ibrahima,Konaté,Konaté,Liverpool,LIV,Defender,14.7,5.4,46
4,Virgil,van Dijk,Virgil,Liverpool,LIV,Defender,19.7,6.3,56
5,Ola,Aina,Aina,Nott'm Forest,NFO,Defender,12.2,4.7,48
6,Murillo,Santiago Costa dos Santos,Murillo,Nott'm Forest,NFO,Defender,1.9,4.5,44
7,Emile,Smith Rowe,Smith Rowe,Fulham,FUL,Midfielder,26.9,5.7,54
8,Alex,Iwobi,Iwobi,Fulham,FUL,Midfielder,2.2,5.6,47
9,Luis,Díaz,Luis Díaz,Liverpool,LIV,Midfielder,24.1,7.7,64
10,Mohamed,Salah,M.Salah,Liverpool,LIV,Midfielder,49.9,12.9,107
11,Danny,Welbeck,Welbeck,Brighton,BHA,Forward,21.2,5.9,64
12,Erling,Haaland,Haaland,Man City,MCI,Forward,63.8,15.2,82
13,Chris,Wood,Wood,Nott'm Forest,NFO,Forward,24.4,6.6,68

# Write DataFrame to local PostgreSQL DB (Docker)

The created dataframe is stored in the default PostgreSQL database (template1) running locally on Docker

In [22]:
# establishing the connection
conn = psycopg2.connect(
    database='template1', user='postgres', password='postgres', host='localhost', port='5432'
)

In [26]:
# Setting auto commit true
conn.autocommit = True

# Creating a cursor object using the cursor() method
cursor = conn.cursor()

# Delete the contents of the table and load the dataframe
cursor.execute('''DROP TABLE IF EXISTS fpl_squad''')

In [27]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/template1')
squad.to_sql('fpl_squad', engine)

15

# Write DataFrame to cloud PostgreSQL DB (Supabase)

In [33]:
# establish connection

conn = psycopg2.connect(
    database=SUPABASE_DB, 
    user=SUPABASE_USER, 
    password=SUPABASE_PASSWORD, 
    host=SUPABASE_HOST, 
    port=SUPABASE_PORT
)

In [34]:
# Setting auto commit true
conn.autocommit = True

# Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [35]:
# List of metrics to create tables for 
optimizing_metrics = ['points_per_game','bonus','total_points','ict_index','points_per_million']

# Delete already existing tables for these metrics
for metric in optimizing_metrics:

    table_name = 'public.optimal_squad_' + metric
    drop_query = 'DROP TABLE IF EXISTS ' + table_name
    cursor.execute(drop_query)

In [36]:
# Create SQL alchemy engine
engine_url = 'postgresql://' + SUPABASE_USER + ':' + SUPABASE_PASSWORD + '@' + SUPABASE_HOST + '/' + SUPABASE_DB
engine = create_engine(engine_url)

# Load tables in supabase
for metric in optimizing_metrics:
    print(metric)
    squad = squad_optimizer(metric, eligible_players)
    squad = pd.merge(squad, slim_elements_df[['first_name', 'second_name', 'id', 'image_path']], on=['first_name', 'second_name'], how='left')
    squad.to_sql('optimal_squad_' + metric, engine, schema='public', index=False)

points_per_game

15

bonus

14

total_points

14

ict_index

15

points_per_million

15

# Load cleaned raw data from API into Supabase

The raw cleaned data from the API can be used for other ad-hoc analyses

In [37]:
# Delete the contents of the table and load the dataframe
cursor.execute('''DROP TABLE IF EXISTS public.dim_fpl_players''')

In [38]:
# Use sqlalchemy engine to write to the DB
engine_url = 'postgresql://' + SUPABASE_USER + ':' + SUPABASE_PASSWORD + '@' + SUPABASE_HOST + '/' + SUPABASE_DB

engine = create_engine(engine_url)
slim_elements_df.to_sql('dim_fpl_players', engine, schema='public', index=False)

678

In [39]:
# close cursor and connection

cursor.close()
conn.close()